Header{
    background: url("../img/lucien_header.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 200px;
}
// sticky navbar
.sticky-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 3;
}