/*Inicializacion para normalizacion del navegador*/
* {
    padding: 0;
    margin: 0;
}
/*Importar Fuentes desde google font*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto+Serif:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100;1,100&display=swap');
/* font-family: 'Luckiest Guy', cursive; */

body {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    min-height: 100vh;
}

header{
    grid-area: header;
    background: url("../img/lucien_header.png");
    background-size:cover;
    background-position: center;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
}
li:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}
nav{grid-area: nav;}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    margin: 5vh;
}
.main{
    grid-area: main;
    background-color: white;
}
.main h2 {
    /* font-family: 'Luckyest Guy', cursive; */
    color:midnightblue;
    text-align: center;
}
.main p{
    font-family: 'roboto', serif;
    text-align: center;
}
.main_bienvenida p{
    margin-top:  300px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.serie__items{
    display: flex;
    justify-content: space-around;
}
.serie__item:hover{
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 0px;
}
.bios__ul-imgs{
    display:flex;
    justify-content: space-around;
}
.bios__ul-img:hover{
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    padding: 0px;
}
img{
    width:100%;
    height: 300px;
}
/* .asideLeft{grid-area: asideL;}
.asideRight{grid-area: asideR;}
.banner{
    display: flex;
    flex-direction: row;
    width:30%;
} */
/* form{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
} */
/* https://www.youtube.com/watch?v=SrC1EaIBdUI */
form{
    background-color: rgba(25, 25, 113,0.7);
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}
input, textarea{
    border: 0;
    outline: none;
    width: 280px;
}
.field{
    border: solid 1px gray;
    padding: 10px;
}
.field:focus{
    border-color: midnightblue;
}
.center-content{
    text-align: center;
}
/* https://www.w3docs.com/tools/code-editor/8421 */
.check-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
.check {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    margin-right: 10px;
}

.footer{
    grid-area: footer;
    align-items:center;
    background-color: grey;
    color:white;
    bottom: 0;
    padding: 10px;
}
.footer ul{ 
    display:flex;
    justify-content: space-around;
}
.footer li:hover{
    margin-top: -2.5px;
    padding: 5px;
}

@media (max-width:800px){
    body {
        grid-template-rows: 1fr 1fr auto;
    }
}

@media (max-width:480px){
    body {
        grid-template-rows: 0.5fr 1fr auto;
    }
    nav ul {
        flex-direction: column;
    }
}
